[Desktop Entry]
Version=1.1
Name=Tesserama
GenericName=Membership cards manager
Type=Application
Terminal=false
Exec=tesserama
TryExec=tesserama
Categories=Office;ContactManagement;GTK;GNOME;
MimeType=text/csv;
